             <div class="table-responsive">
                 <table class="table table-primary border:1px">
                     <thead>
                         <tr>
                             <th>ID</th>
                             <th>Producto</th>
                             <th>Precio</th>
                             <th>Descripción</th>
                             <th>Categoria</th>
                             <th>Imagen</th>
                             <th>Opciones</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr *ngFor="let product of products">
                             <td>{{product.id}}</td>
                             <td>{{product.title}}</td>
                             <td>{{product.price}}</td>
                             <td>{{product.description}}</td>
                             <td>{{product.category}}</td>
                             <td><img src="{{product.images}}" alt="" width="120px" height="120px"></td>
                             <td><button class="btn btn-danger" (click)="deleteProduct(product.id)">Eliminar</button>
                             </td>
                             <td><button class="btn btn-primary" (click)="editProduct(product)">Editar</button></td>
                         </tr>
                     </tbody>
                 </table>
             </div>
